name: CI

on:
  push:
    branches:
      - '**'

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  test:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        run: |
          npm install -g corepack@latest --force 
          corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: '24.13.1'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run test cases
        run: pnpm -r run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./packages/tskit/tests/coverage

  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        run: |
          npm install -g corepack@latest --force 
          corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: '24.13.1'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm -r run build
